---
import BlogLayout from '@layouts/BlogLayout.astro';
import BlogCard from '@components/BlogCard.astro';
import { getPublishedPosts } from '@lib/posts';

const sortedPosts = await getPublishedPosts();
---

<BlogLayout title="Blog">
  <div class="posts">
    {sortedPosts.map(post => (
      <BlogCard
        title={post.data.title}
        description={post.data.description}
        pubDate={post.data.pubDate}
        slug={post.slug}
      />
    ))}
  </div>
</BlogLayout>

<style>
  .posts {
    margin-top: 32px;
  }
</style>
